<launch>
        <arg name="map_size_x" value="11.0"/>
	    <arg name="map_size_y" value="11.0"/>
    	<arg name="map_size_z" value=" 3.0"/>
    	<arg name="odom_topic" value="visual_slam/odom" />

    <!-- large circle 1357-->
	<include file="$(find edg_team)/launch/run_in_sim_circle.launch">
			<arg name="drone_id"   value="0"/>
			<arg name="init_x"     value="-3.53554094232"/>
			<arg name="init_y"     value="-3.53552686953"/>
			<arg name="init_z"     value="1.0"/>
			<arg name="target_x"   value="2.0"/>
			<arg name="target_y"   value="0.0"/>
			<arg name="target_z"   value="1.0"/>
			<arg name="map_size_x" value="$(arg map_size_x)"/>
			<arg name="map_size_y" value="$(arg map_size_y)"/>
			<arg name="map_size_z" value="$(arg map_size_z)"/>
			<arg name="odom_topic" value="$(arg odom_topic)"/>
		</include>
    <include file="$(find edg_team)/launch/run_in_sim_circle.launch">
			<arg name="drone_id"   value="1"/>
			<arg name="init_x"     value="-3.53553156047"/>
			<arg name="init_y"     value="3.5355362514"/>
			<arg name="init_z"     value="1.0"/>
			<arg name="target_x"   value="0.0"/>
			<arg name="target_y"   value="-2.0"/>
			<arg name="target_z"   value="1.0"/>
			<arg name="map_size_x" value="$(arg map_size_x)"/>
			<arg name="map_size_y" value="$(arg map_size_y)"/>
			<arg name="map_size_z" value="$(arg map_size_z)"/>
			<arg name="odom_topic" value="$(arg odom_topic)"/>
		</include>
    <include file="$(find edg_team)/launch/run_in_sim_circle.launch">
			<arg name="drone_id"   value="2"/>
			<arg name="init_x"     value="3.53553156047"/>
			<arg name="init_y"     value="3.5355362514"/>
			<arg name="init_z"     value="1.0"/>
			<arg name="target_x"   value="-2.0"/>
			<arg name="target_y"   value="0.0"/>
			<arg name="target_z"   value="1.0"/>
			<arg name="map_size_x" value="$(arg map_size_x)"/>
			<arg name="map_size_y" value="$(arg map_size_y)"/>
			<arg name="map_size_z" value="$(arg map_size_z)"/>
			<arg name="odom_topic" value="$(arg odom_topic)"/>
		</include>
    <include file="$(find edg_team)/launch/run_in_sim_circle.launch">
			<arg name="drone_id"   value="3"/>
			<arg name="init_x"     value="3.53554094232"/>
			<arg name="init_y"     value="-3.53552686953"/>
			<arg name="init_z"     value="1.0"/>
			<arg name="target_x"   value="0.0"/>
			<arg name="target_y"   value="2.0"/>
			<arg name="target_z"   value="1.0"/>
			<arg name="map_size_x" value="$(arg map_size_x)"/>
			<arg name="map_size_y" value="$(arg map_size_y)"/>
			<arg name="map_size_z" value="$(arg map_size_z)"/>
			<arg name="odom_topic" value="$(arg odom_topic)"/>
		</include>

    <!-- small circle 0246-->
	<include file="$(find edg_team)/launch/run_in_sim_circle.launch">
			<arg name="drone_id"   value="4"/>
			<arg name="init_x"     value="0.0"/>
			<arg name="init_y"     value="-2.0"/>
			<arg name="init_z"     value="1.0"/>
			<arg name="target_x"   value="-3.53553156047"/>
			<arg name="target_y"   value="3.5355362514"/>
			<arg name="target_z"   value="1.0"/>
			<arg name="map_size_x" value="$(arg map_size_x)"/>
			<arg name="map_size_y" value="$(arg map_size_y)"/>
			<arg name="map_size_z" value="$(arg map_size_z)"/>
			<arg name="odom_topic" value="$(arg odom_topic)"/>
		</include>
    <include file="$(find edg_team)/launch/run_in_sim_circle.launch">
			<arg name="drone_id"   value="5"/>
			<arg name="init_x"     value="-2.0"/>
			<arg name="init_y"     value="0.0"/>
			<arg name="init_z"     value="1.0"/>
			<arg name="target_x"   value="3.53553156047"/>
			<arg name="target_y"   value="3.5355362514"/>
			<arg name="target_z"   value="1.0"/>
			<arg name="map_size_x" value="$(arg map_size_x)"/>
			<arg name="map_size_y" value="$(arg map_size_y)"/>
			<arg name="map_size_z" value="$(arg map_size_z)"/>
			<arg name="odom_topic" value="$(arg odom_topic)"/>
		</include>
    <include file="$(find edg_team)/launch/run_in_sim_circle.launch">
			<arg name="drone_id"   value="6"/>
			<arg name="init_x"     value="0.0"/>
			<arg name="init_y"     value="2.0"/>
			<arg name="init_z"     value="1.0"/>
			<arg name="target_x"   value="3.53554094232"/>
			<arg name="target_y"   value="-3.53552686953"/>
			<arg name="target_z"   value="1.0"/>
			<arg name="map_size_x" value="$(arg map_size_x)"/>
			<arg name="map_size_y" value="$(arg map_size_y)"/>
			<arg name="map_size_z" value="$(arg map_size_z)"/>
			<arg name="odom_topic" value="$(arg odom_topic)"/>
		</include>
    <include file="$(find edg_team)/launch/run_in_sim_circle.launch">
			<arg name="drone_id"   value="7"/>
			<arg name="init_x"     value="2.0"/>
			<arg name="init_y"     value="0.0"/>
			<arg name="init_z"     value="1.0"/>
			<arg name="target_x"   value="-3.53554094232"/>
			<arg name="target_y"   value="-3.53552686953"/>
			<arg name="target_z"   value="1.0"/>
			<arg name="map_size_x" value="$(arg map_size_x)"/>
			<arg name="map_size_y" value="$(arg map_size_y)"/>
			<arg name="map_size_z" value="$(arg map_size_z)"/>
			<arg name="odom_topic" value="$(arg odom_topic)"/>
		</include>

</launch>