<launch>
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find edg_team)/launch/default.rviz" required="true" /> -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find edg_team)/launch/default.rviz" required="true" />

    	<!-- swarm topic transmitter bridge-->
    	<include file="$(find swarm_bridge)/launch/bridge_udp.launch">
        <arg name="drone_id" value="999"/>
        <arg name="drone_num" value="6" />
        <arg name="future_time" value="1.0" />
        <arg name="broadcast_ip" value="127.0.0.255"/>
    	</include>
	<!-- <include file="$(find swarm_bridge)/launch/bridge_p2p.launch">
		<arg name="drone_id" value="999"/>
	</include> -->
    	<!-- map --> 
  <node pkg ="map_generator" name ="random_forest_wall" type ="random_forest_wall" output = "screen">
        <param name="map/x_size"     value="30.0" />
        <param name="map/y_size"     value="30.0" />
        <param name="map/z_size"     value="3" />
        <param name="map/resolution" value="0.1"/>
        <param name="ObstacleShape/seed" value="1"/>
        <param name="map/obs_num"    value="20"/>
        <param name="ObstacleShape/lower_rad" value="0.5"/>
        <param name="ObstacleShape/upper_rad" value="0.7"/>
        <param name="ObstacleShape/lower_hei" value="0.0"/>
        <param name="ObstacleShape/upper_hei" value="3.0"/>
        <param name="map/circle_num" value="0"/>
        <param name="ObstacleShape/radius_l" value="0.7"/>
        <param name="ObstacleShape/radius_h" value="0.5"/>
        <param name="ObstacleShape/z_l" value="0.7"/>
        <param name="ObstacleShape/z_h" value="0.8"/>
        <param name="ObstacleShape/theta" value="0.5"/>
        <param name="pub_rate"   value="1.0"/>
        <param name="min_distance" value="0.8"/>
    </node>  

</launch>